[submodule "cfs_checksum_patched/cFS"]
	path = cfs_checksum_patched/cFS
	url = https://github.com/nmullane/cFS.git
	branch = amp-checksum-patched
[submodule "cfs_checksum_vuln/cFS"]
	path = cfs_checksum_vuln/cFS
	url = https://github.com/nmullane/cFS.git
	branch = amp-checksum-vuln
[submodule "cosmos-demo"]
	path = cosmos-demo
	url = https://github.com/nmullane/cosmos-demo.git
